<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>小笨窝的画廊</title>

	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link href="/static/pic/css/Icomoon/style.css" rel="stylesheet" type="text/css" />
	<link href="/static/pic/css/animated-masonry-gallery.css" rel="stylesheet" type="text/css" />
	
</head>
<body>

	<div id="gallery">
		<div id="gallery-header">
			<div id="gallery-header-center">
				<div id="gallery-header-center-left">
					<div id="gallery-header-center-left-icon"><span class="iconb" data-icon="&#xe23a;"></span></div>
					<div id="gallery-header-center-left-title">所有图片</div>
				</div>
				<div id="gallery-header-center-right">
					<div class="gallery-header-center-right-links" id="filter-all">所有</div>
					<div class="gallery-header-center-right-links" id="filter-studio">baby</div>
					<div class="gallery-header-center-right-links" id="filter-landscape">叔叔</div>
				</div>
			</div>
		</div>
		<div id="gallery-content">
			<div id="gallery-content-center">
				{% for img in imgs %}

					<a href="{{ img.img.url }}" ><img src='{{ img.img.url }}' class='all {{ img.tag.name }}' /></a>
				{% empty %}
						<div class="no-post">暂时还没有图片！</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/static/pic/js/jquery.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/static/pic/js/jquery-ui.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/static/pic/js/jquery.isotope.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/static/pic/js/animated-masonry-gallery.js" charset="UTF-8"></script>
	<div style="text-align:center;">

</div>
</body>
</html>