<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% if text %}<p><strong>{{ text }}</strong></p>{% endif %}
    <form action="{% url 'img:uploadpage' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="file" name="img">
        <div class="col-md-4">
            <label for="{{ form.name.id_for_label }}">标签：</label>
                {% for tag in tags %}
                <input type="radio" name="tag" id="tag{{ forloop.counter }}" value="{{ tag.id }}" />
                <label for="tag{{ forloop.counter }}">{{ tag.name }}</label>
                {% endfor %}
            </div>
        <button type="submit" >上传</button>
    </form>
</body>
</html>